@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#F8FAFC] text-slate-900 antialiased;
  }

  /* Input teks hitam pekat & tegas */
  input,
  textarea {
    color: #000000 !important;
    font-weight: 600;
  }

  input::placeholder {
    @apply text-slate-400 font-normal;
  }
}

/* Utilitas untuk kartu minimalis */
.card-minimalis {
  @apply bg-white border border-slate-200 rounded-[2rem] shadow-sm transition-all duration-300;
}